.btn {
  display: inline-block;
  color: white;
  text-align: center;
  white-space: nowrap;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  transition: 0.15ms;

  &:hover {
    background-color: #e595e4;
    border-color: #e595e4;
  }
}