@import 'scss/vendor/mixins';
@import 'scss/vendor/variables';

@import 'scss/ui/button';
@import 'scss/ui/select';
@import 'scss/ui/input';

@import 'scss/blocks/header';
@import 'scss/blocks/todoheader';
@import 'scss/blocks/todo';
@import 'scss/blocks/task';

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 3rem;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul, li {
  list-style-type: none;
}

section {
  padding: 2rem 0;
}

.container {
  max-width: 140rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.task__title {
  font-size: 4rem;
  text-align: center;
  color: #dc646f;
}

@media(max-width:550px) {
  html {
    font-size: 7px;
  }
}

@media(max-width:300px) {
  html {
    font-size: 5px;
  }

  .task__title {
    font-size: 3rem;
  }
}