*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

section {
  padding: 2rem 0;
}

.container {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.green {
  background-color: #62bb77;
  border: 1px solid #62bb77;
}

.red {
  background-color: #ee5e6b;
  border: 1px solid #ee5e6b;
}